@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.product-card {
  width: 100%;
  max-width: 304px;
  background-color: $color-neutral-white;
  border-radius: $border-radius-md;
  box-shadow: $shadow-card;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  font-family: $font-family-primary;

  &__image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-md;

    & img {
      max-width: 100%;
      height: auto;
    }
  }

  &__title {
    font-size: $font-sm;
    font-weight: $font-weight-light;
    color: $color-neutral-gray-800;
    margin-bottom: $spacing-md;
    line-height: 1.4;
  }

  &__price-group {
    display: flex;
    flex-direction: column;
  }

  &__price-old {
    font-size: $font-sm;
    font-weight: $font-weight-regular;
    color: $color-neutral-gray-600;
    text-decoration: line-through;
  }

  &__price-current {
    font-size: $font-md;
    font-weight: $font-weight-bold;
    color: $color-neutral-gray-800;
    padding: 0.2rem 0;
  }

  &__installments {
    font-size: $font-xs;
    font-weight: $font-weight-regular;
    color: $color-neutral-gray-800;
  }

  &__shipping {
    font-size: $font-xs;
    font-weight: $font-weight-regular;
    color: $color-brand-blue;
    padding: $spacing-xs 0;
  }

  &__button {
    @include button-base;
    background-color: $color-brand-blue;
    color: $color-neutral-white;
    font-weight: $font-weight-bold;
    font-size: 0.875rem;
    border-radius: $border-radius-sm;
    padding: $spacing-sm;
    text-align: center;
    width: 100%;
  }
}
