/* FONTS */
$font-family-primary: "Poppins", sans-serif;

/* PESO DA FONTE */
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-regular: 400;
$font-weight-light: 300;

/* TAMANHO DAS FONTES - px / 16 = rem */
$font-3xl: 3rem; // 48px
$font-2xl: 2.5rem; // 40px
$font-xl: 2rem; // 32px
$font-lg: 1.87rem; // 30px
$font-md: 1.25rem; // 20px
$font-sm: 0.93rem; // 15px
$font-xs: 0.75rem; // 12px
$font-xxs: 0.62rem; // 10px

/* CORES */
$color-neutral-white: #fff; // $color-surface
$color-neutral-gray-100: #f6f5f2; // $search-bg-color
$color-neutral-gray-200: #dedede; // $color-lines
$color-neutral-gray-300: #bdbdbd; // $color-lines-tab
$color-neutral-gray-400: #b1b1b1; // $color-border
$color-neutral-gray-500: #9f9f9f; // $text-secondary-color
$color-neutral-gray-600: #808080; // $color-text-muted
$color-neutral-gray-700: #3b3b3b; // $color-text-tab
$color-neutral-gray-800: #3f3f40; // $text-primary-color
$color-neutral-gray-900: #000; // $bg-secondary-color
// $color-neutral-black: #000; // $color-text-main
$color-brand-yellow: #f7ca11; // $bg-tertiary-color
$color-brand-blue: #3442b5; // $color-primary
$color-brand-purple: #271c47; // $bg-secondary-color

/* ESPAÇAMENTOS */
$card-width: 304px;
$card-height: 500px;
$spacing-4xl: 4rem; // 64px
$spacing-3xl: 3rem; // 48px
$spacing-2xl: 2.25rem; // 36px
$spacing-xl: 2rem; // 32px
$spacing-lg: 1.5rem; // 24px
$spacing-md: 1rem; // 16px
$spacing-sm: 0.75rem; // 12px
$spacing-xs: 0.5rem; // 8px

/* SOMBRAS */
$shadow-text: 0px 3px 6px rgb(0 0 0 / 20%);
$shadow-line: 0px 4px 4px 0px rgb(0 0 0 / 25%);
$shadow-card: 0px 3px 19px 0px rgb(0 0 0 / 22%);
$shadow-navbar: 0px 8px 16px 0px rgb(57 48 19 / 12%);

/* BORDAS */
$border-radius-lg: 1.5rem;
$border-radius-md: 0.62rem;
$border-radius-sm: 0.25rem;
