@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.partners {
  padding: $spacing-3xl 0;

  &__container {
    @include container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-md;
  }
}
